// sass results/style.scss results/style.css -w

// Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Variables
$clr-bg: #fcf4dd;
$clr-bg2: rgba(105, 214, 221);
$clr-bg2-transparent: rgba(105, 214, 221, 0.5);
$clr-border: #43afb8;

// Normalization
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}

// Wrong viewport size
@media (min-width: 1921px),
  (min-height: 1081px),
  (max-width: 1919px),
  (max-height: 1079px) {
  .page * {
    display: none;
  }
  body::before {
    content: 'The screen size must be 1920x1080.';
    text-align: center;
    font-size: 3rem;
  }
}

// Correct viewport size
body::after {
  content: '';
}

.page {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 20rem 2rem 4rem 2rem;
  background-color: $clr-bg;
  background-image: url('../Resources/Jugaos Maylay 2/Fondo.png');
}

.layout {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'top1 top4'
    'top1 top8';
  row-gap: 1rem;
}

.top-1 {
  grid-area: top1;
  font-size: 3rem;
}
.top-4 {
  grid-area: top4;
  margin-left: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: calc(40% - 1rem) calc(35% - 1rem) 25%;
  font-size: 2.4rem;
}
.top-8 {
  grid-area: top8;
  display: flex;
  justify-content: stretch;
  gap: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.card {
  height: 100%;
  flex: 1;
  background-color: $clr-bg2-transparent;
  border-radius: 2rem;
  border: 5px solid $clr-border;
}

.player-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.character {
  height: 100%;
}

.drop-shadow {
  filter: drop-shadow(25px 10px 0px $clr-border);

  &-inverted {
    filter: drop-shadow(-25px 10px 0px $clr-border);
  }
}

.placing {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: $clr-border;
  aspect-ratio: 1;
  width: 3rem;
  padding: 7px 0;
  text-align: center;
  border-radius: 1rem;
  color: $clr-bg;
  text-shadow: 1px 1px 8px black;
}

#top-1 {
}
#top-2 {
}
#top-3 {
}
#top-4 {
}
#top-5 {
}
#top-6 {
}
#top-7 {
}
#top-8 {
}

.tag-name {
  margin: 1rem auto;
  max-width: max-content;
  color: $clr-bg;
  text-shadow: 1px 1px 8px black;

  &-container {
    background-color: $clr-bg2;
    border-radius: 0 0 1.6rem 1.6rem;
    z-index: 2;
  }
}

.select {
  position: absolute;
  top: 16px;
  background-color: white;
  padding: 16px;
  display: flex;
}

#result_json {
  font-family: monospace;
  max-width: 500px;
  margin-left: 16px;
}
